.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
entry
gtk.immodules
imhangul.spec
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo
stamp-h1
tags
test.conf
*.la
*.lo
*.o
